<div class="sideNav" [style.height.px]="heightDevice">
  <div class="contentNav">
    <div class="logo-Alek-container">
      <a class="" routerLink="">
        <img [src]="icons[0].image" width="67px" alt="home-castel">
      </a>
    </div>
    <div>
    <ul class="sideNav-list">
      <li class="sideNav-list-items" *ngFor="let item of menuList">
        <a href="" class="sideNav-lits-link" [routerLink]="[item.routerLink]">
            <span class="sidenav-link-label">
              {{item.label}}
            </span>
        </a>
      </li>
    </ul>
  </div>
    <div class="network-Alek-container">
      <a class="" href="https://www.youtube.com/channel/UCRuTl6pl3x-y2UF-w-SQr4g"  target=”_blank”>
        <img [src]="icons[1].image" width="21px" alt="github-logo">
      </a>
      <a class="" href="https://github.com/PhixAlek"  target=”_blank”>
        <img [src]="icons[2].image" width="21px" alt="linkedin-logo">
      </a>
      <a class="" href="https://www.linkedin.com/in/phixalek/"  target=”_blank”>
        <img [src]="icons[3].image" width="21px" alt="youtube-logo">
      </a>
    </div>
  </div>
</div>


