/* General Styles */
.perfilContainer {
  margin: 0;
  padding: 0 8em 0 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Media Query for Small Screens */
@media only screen and (max-width: 46em) {
  .perfilContainer {
    padding: 2em 1.5em 0 2em;
    flex-direction:column;
  }

  .perfilContainer  h1 {
    font-size: 2em;
  }
  p {
    font-size: .8em;
    line-height: normal;
  }
  .containerImageAlek img {
    width: 30%;
    transform: translatex(100%);
  }

}


/* Media Query for Large Screens */
@media screen and (min-width: 120em) {
  h1 {
    font-size: 2.5em;
    margin-bottom: 1.2em;
    color: #FF5946;
    text-shadow: 0 0.0625em 0.125em #FF001A;
  }

  .infoPerfil {
    display: flex;
    flex: 1;
    padding: 0 7em 0em 0em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .containerImageAlek {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .containerImageAlek img {
    width: 30em;
  }
}

.move-image {
  animation-name: move-right;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes move-right {
  0% {
    transform: translatex(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}
