<div class="perfilContainer">
  <div class="infoPerfil">
    <section>
      <h1>Hey, I'm Alejandro Segura</h1>
      <article>
          <p>A Full Stack Web Developer with an unwavering passion for technology and creativity. With over 4 years of experience in the field, I've had the opportunity to work on exciting and challenging projects that have driven me to constantly grow.</p>
          <p>I stand out for my intellectual curiosity and my ability to quickly adapt to new technologies and development approaches. This allows me to offer innovative and efficient solutions to the problems I encounter in my everyday work.</p>
          <p>My passion for art, creativity, and pixel art creation also plays a significant role in my life. I always seek ways to incorporate my creativity into my web development projects, adding a unique touch to my creations.</p>
      </article>
</section>
  </div>
  <div class="containerImageAlek">
  <img [src]="image[0].url"   [alt]="image[0].alt">
  </div>
  </div>
