<div class="perfilContainer" [style.height.px]="heightDevice" [style.background-image]="'url(' + background[0].image + ')'">
  <div class="infoPerfil">

   <section>
    <h2>Hola soy Alejandro</h2>
    <article>
  <p>Soy un Desarrollador Web Full Stack con más de 3 años de experiencia en la industria tecnológica. Me destaco por mi curiosidad intelectual y mi capacidad de adaptarme a nuevas tecnologías. </p>
  <p> Además de mi carrera en el desarrollo web, también soy un músico en aprendizaje con una gran pasión por el arte, la creatividad y la creación de pixelart. Me encanta experimentar con nuevas formas de expresión artística y encontrar la forma de incorporar esa creatividad en mi trabajo.</p>
    </article>
  </section>
  </div>
  <div class="containerImageAlek">
  <img [src]="images[0].image"   alt="home-castel">
  </div>
  </div>
