.barNav {
  background-color: var(--sideNavBackground);
  width: 100%;
  height: 4.5em;
  display: flex;
  flex-direction: row;
  padding: .8em 0.7em 1.2em 1.2em;
  }

  .home-icon {
  width: 2.5em;
  }

  li {
  display: inline;
  margin: 0 0.625em;
  }

  .contentNav {
    padding-left: .7em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    gap: 0.8em;
  }

  a {
    font-size: 0.94em;
    }

    @media only screen and (max-width: 19em) {
    .contentNav {
    padding-top: 0;
    }
    .home-icon {
    width: 2em;
    }
    li {
    margin: 0 0.63em;
    }
    a {
    font-size: 0.7em;
    }
    }
