/* Variables for the navigation bar */
:root {
  --sideNavBackground: #BF0404;
}


/**/
/* Establece un alto mínimo para que la página se vea correctamente */
html,
body {
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Press Start 2P', cursive;
  line-height: 1.2;
}

h1 {
  color: #fff;
  font-size: 4em;
  /* Adjusted to relative font size */
  /* Adjusted line height for better readability */
}

h2 {
  margin-bottom: 1.2em;
  text-align: left;
  color: #FF5946;
  font-size: 2.5em;
  /* Adjusted to relative font size */
  text-shadow: 0 0.0625em 0.125em #FF001A;
}

h3 {
  text-align: center;
  color: #FF5946;
  font-size: 1.5em;
  /* Adjusted to relative font size */
  text-shadow: 0 0.0625em 0.125em #FF001A;
}

body {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  padding: 1em 0;
  color: #fff;
  font-size: 1.5em;
  /* Adjusted to relative font size */
  line-height: 1.2;
  /* Adjusted line height for better readability */
}

button {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

li {
  list-style: none;
  text-align: center;
  line-height: 3em;
  /* Adjusted line height for better spacing */
}

a {
  text-decoration: none;
  font-size: 1em;
  /* Adjusted to relative font size */
  color: #fff;
}
